<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.99.100:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mylog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/mylog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5KB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>15KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %level %logger - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %level %logger - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stash" />
        <appender-ref ref="file" />
        <appender-ref ref="console"/>
    </root>
</configuration>